
@media screen and (max-width: 575px) {

    
    main .container {
        width: calc(100% - 50px);
    }

    main .sidebar {
        width: 50px;
        height: calc(100% - 90px);
        margin: 0;
        min-height: 340px;
    }
    
    main .sidebar .info-top,
    main .sidebar .playlist,
    main .sidebar .info-bottom {
        margin-left: 0; 
    }

    main .sidebar .info-top .logo {
        padding: 0;
        height: 100%;
    }

    main .sidebar .info-top .logo a:first-child {
        display: none;
    }

    main .sidebar .info-top .logo a:last-child {
        display: inline-block;
        width: 100%;
        padding: 5px;
        filter: invert(58%) sepia(90%) saturate(3428%) hue-rotate(84deg) brightness(124%) contrast(120%);
    }

    main .sidebar .playlist,
    main .sidebar .info-top .svg-icon span,
    main .sidebar .playlist .plus-album,
    main .sidebar .info-bottom span,
    main .sidebar .info-bottom hr,
    main .sidebar h3 {
        display: none;
    }

    main .sidebar .info-top .svg-icon a svg {
        width: 100%;
        padding: 5px;
    }

    main .sidebar .info-bottom .profile a svg {
        padding: 5px;
        width: 80%;
        margin: 0 0 5px 6px
    }
    
    main .sidebar .info-bottom .download a svg {
        margin: 0px 0 20px 13px;
        width: 100%;
    }

    main .container .top-row .upgrade{
        font-size: 0.8em;
    }

    main .container .top-row .upgrade:hover {
        font-size: 0.9em;

    }

    main .container-album .albums .row {
        flex-basis: 100%;
    }

    main .container-album .albums .row .box .fa-play-circle {
        font-size: 2.5em;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {

    main .sidebar {
        width: 175px;
    }

    main .sidebar .info-top .logo img:first-child {
        width: 90%;
    }

    main .sidebar .info-bottom .download a svg, 
    main .sidebar .info-top .svg-icon a svg {
        width: 22.5%;
    }

    main .sidebar .info-bottom .profile a svg {
        width: 17%;
    }    

    main .container {
        width: calc(100% - 175px);
    }

    main .container-album .albums .row {
        flex-basis: 100%;
    }

    main .container-album .albums .row .box .fa-play-circle {
        font-size: 2.5em;
    }

    .footer-left .heart-folder{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    main .sidebar {
        width: 175px;
    }

    main .sidebar .info-bottom .download a svg, 
    main .sidebar .info-top .svg-icon a svg {
        width: 22.5%;
    }

    main .sidebar .info-top .logo img:first-child {
        width: 90%;
    }

    main .sidebar .info-bottom .profile a svg {
        width: 17%;
    } 

    main .container {
        width: calc(100% - 175px);
    }

    main .container-album .albums .row {
        flex-basis: calc(100% / 2);
    }

    main .container-album .albums .row .box .fa-play-circle {
        font-size: 3em;
    }
}



