* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */

main .active,
footer .active {
    text-decoration: none;
    color: grey;
}

.float-lt {
    float: left;
}

.float-rt {
    float: right;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.middle {
    align-items:center;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.top {
    align-items:flex-start;
}

.bottom {
    align-items:flex-end;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

/* fine COMMON */

main {
    width: 100%;
    height: 100vh;
}

main .sidebar {
    position: relative;
    background-color: black;
    color: grey;
    width: 250px;
    min-height: 600px;
    height: calc(100% - 90px);
    font-weight: bold;
    font-size: 0.8em;
    float: left;
}

main .sidebar .active {
    border-right: 3px solid transparent;
}

main .sidebar h3{
    padding: 20px 0 5px 0;
}

main .sidebar .info-top,
main .sidebar .playlist,
main .sidebar .info-bottom {
    margin-left: 20px;
}

main .sidebar .info-top .logo {
    padding: 15px 0;
    height: 90px;
}

main .sidebar .info-top .logo img:first-child {
    width: 60%;
}

main .sidebar .info-top .logo img:last-child {
    display: none;
}

main .sidebar .info-top .svg-icon a {
    padding: 5px 0;
}

main .sidebar .info-top .svg-icon a svg,
main .sidebar .info-bottom .download a svg {
    filter: invert(59%) sepia(1%) saturate(2859%) hue-rotate(0deg) brightness(86%) contrast(84%);
}

main .sidebar .info-top .svg-icon a svg {
    width: 15%;
    padding-right: 4px;
}

main .sidebar .playlist {
    min-height: 300px;
    overflow-y: auto;
    padding-top: 5px;
}

main .sidebar .playlist .plus-album{
    padding: 7px 0;
}

main .sidebar .playlist .fa-plus-square {
    font-size: 2.5em;
    padding: 5px 10px 5px 0;
}

main .sidebar .playlist .name-playlist {
    padding: 7px 0;
    border-right: 3px solid transparent;
}

main .sidebar .info-bottom {
    background-color: black;
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
}

main .sidebar .info-bottom .download svg {
    padding: 0 4px 0 0;
    width: 15%;
}

main .sidebar .info-bottom hr {
    width: calc(100% - 20px);
    margin: 5px 0;
}

main .sidebar .info-bottom .profile a svg {
    border-radius: 50%;
    background-color: black;
    margin: 6px 10px 8px 0;
    line-height: 30px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    padding:0 2px;
    width: 11%;
    filter: invert(100%) sepia(0%) saturate(3363%) hue-rotate(220deg) brightness(118%) contrast(100%);
}


main .container {
    position: relative;
    float: left;
    background-color: #1D1D1D;
    width: calc(100% - 250px);
    height: calc(100% - 90px);
    color: white;
    overflow-y: auto;
}

main .container .top-row {
    width: 100%;
    height: 90px;
    background-color: #111111;
}

main .container .top-row .upgrade {
    position: absolute;
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px 50px;
    top: 18px;
    right: 5px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

main .container .nav-top {
    color: grey;
}

main .container .nav-top div {
    margin: 20px 8px;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}

main .container-album {
    width: 100%;
    height: calc(100% - 90px);
}

main .container-album .albums {
    width: 100%;
    padding: 10px;
}

main .container-album h2 {
    margin: 30px 0 10px 20px;
}

main .container-album .albums .row {
    flex-basis: calc(100% / 3);
}

main .container-album .albums .row .box {
    flex-basis: calc(100% / 2 - 10px);
    text-align: center;
    margin: 5px;
}

main .container-album .albums .row .box .img-hover-button {
    position: relative;
    width: 100%;
}

main .container-album .albums .row .box img {
    width: 100%;
}

main .container-album .albums .row .box h4 {
    padding: 12px 0 5px 0;
}

main .container-album .row .box .text-bottom {
    font-size: 0.8em;
    color: grey;
}

main .container-album .albums .row .box .img-hover-button .fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 4.5em;
    display: none;
    z-index: 1;
    color: white;
}

main .container-album .albums .row .box .img-hover-button .background-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

main .container-album .text-bottom-title {
    font-size: 0.8em;
    color: grey;
    padding: 0 0 10px 20px;
}

main .container-album .albums .row .box .circle{
    width: 100%;
}

main .container-album .albums .row .box .circle .img-hover-button img,
main .container-album .albums .row .box .circle .img-hover-button .background-effect {
    border-radius: 50%;
}

/* inizio hover main  */

main .sidebar .info-top .svg-icon a:hover,
main .sidebar .playlist .name-playlist a:hover,
main .sidebar .playlist .plus-album a:hover,
main .sidebar .playlist .name-playlist:hover {
    color: white;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border-right: 3px solid green;
}

main .sidebar .playlist .plus-album:hover .fa-plus-square {
    color: green;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

main .sidebar .info-bottom .download a:hover {
    color: white;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

main .sidebar .info-top .svg-icon a:hover svg,
main .sidebar .info-bottom a:hover svg {
    filter: none;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

main .container .top-row .upgrade:hover {
    color: green;
    font-size: 1.1em;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border: 1px solid green;
}

main .container .nav-top div:hover {
    border-bottom: 3px solid green;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    color: white;
}

main .container-album .albums .row .box .img-hover-button:hover .fa-play-circle {
    display:inline-block;
}

main .container-album .albums .row .box .img-hover-button:hover .background-effect {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

/* fine hover main  */

/* inizio footer */

footer {
    height: 90px;
    width: 100%;
    background-color: #0D0D0D;
    position: fixed;
    bottom: 0;
}

.footer-left {
    width: 220px;
    height: 90%;
    color: grey;
}

.footer-left img {
    width: 60px;
    height: 60px;
    margin: 0 6px;
}

.footer-left #text-side-picture a div {
    padding-top: 2px;
    font-size: 0.8em;
}

.footer-left .fa-heart,
.footer-left .fa-folder {
    padding: 3px;
}

.footer-central {
    height: 100%;
}

.footer-central .far {
    font-size: 2em;
    color: lightgray;
}

.footer-central .central-top {
    margin-top: 10px;
    width: 20vw;
    min-width: 170px;
    margin: 0 auto;
}

.footer-central .fas {
    color: lightgray;
    padding: 5px;
}

.footer-central .fa-random{
    margin-left: 30px;
}

.footer-central .fa-redo{
    margin-right: 30px;
} 


.footer-central .central-bottom {
    min-width: 20vw;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.footer-central .central-bottom .progress-bar {
    border-top: 4px solid transparent;
    border-radius: 20px;
    background-color: lightgray;
    height: 3px;
    width: 100%;
}

.footer-right {
    width: 250px;
    height: 100%;
}
.footer-right a {
    padding: 3px;
}

.footer-right .progress-bar-volume {
    border-radius: 20px;
    background-color: lightgray;
    height: 4px;
    width: 90%;
    min-width: 120px;
}

/* fine footer */

/* inizio hover footer */

.footer-left .far:hover {
    font-size: 1.2em;
    color: green;
}

.footer-central .central-top .fa-play-circle:hover{
    font-size: 2.5em;
}

.footer-right .fas:hover {
    font-size: 1.2em;
    color: green;
}
/* fine hover footer */





