* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */

.active {
    text-decoration: none;
    color: grey;
}

.float-lt {
    float: left;
}

.float-rt {
    float: right;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-rev{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.middle {
    align-items:center;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.top {
    align-items:flex-start;
}

.bottom {
    align-items:flex-end;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

/* fine COMMON */

main {
    width: 100vw;
    height: 100vh;
}

main .sidebar {
    color: white;
    background-color: black;
    width: 250px;
    height: calc(100% - 90px);
    font-weight: bold;
    font-size: 0.8em;
    overflow-y: hidden;
    float: left;
}

main .sidebar .active {
    border-right: 3px solid transparent;
}

main .sidebar .info-top,
main .sidebar .playlist-bottom {
    margin-left: 20px;
}

main .sidebar .info-top .logo {
    height: 90px;
}

main .sidebar .info-top .logo a:first-child {
    width: 60%;
    filter: invert(57%) sepia(87%) saturate(4379%) hue-rotate(114deg) brightness(109%) contrast(77%);
}

main .sidebar .info-top .logo a:last-child {
    display: none;
}

main .sidebar .info-top .svg-icon a {
    padding: 5px 0;
}

main .sidebar .info-top .svg-icon a svg,
main .sidebar .info-bottom .download a svg {
    filter: invert(59%) sepia(1%) saturate(2859%) hue-rotate(0deg) brightness(86%) contrast(84%);
}

main .sidebar .info-top .svg-icon a svg {
    width: 15%;
}

main .sidebar h3{
    padding: 15px 0 7px 0;
    margin-left: 20px;
}

main .sidebar .plus-album {
    margin: 5px 0 0 20px;
    font-size: 1.1em;
    color: white;
}

main .sidebar .fa-plus-square {
    font-size: 2.5em;
    padding-right: 5px;
}

main .sidebar .playlist-bottom {
    height: 100%;
    overflow: auto;
}

main .sidebar .playlist-bottom .name{
    min-height: 300px;
    margin-top: 2px;
}

main .sidebar .playlist-bottom .name .active {
    padding: 12px 0;
}

main .sidebar .playlist-bottom .info-bottom {
    overflow-y: hidden;
}

main .sidebar .playlist-bottom .info-bottom .download a svg {
    width: 15%;
}

main .sidebar .playlist-bottom .info-bottom hr {
    margin: 5px 20px 5px 0;
}

main .sidebar .playlist-bottom .info-bottom .profile a svg {
    border-radius: 50%;
    background-color: black;
    margin: 6px 10px 6px 0;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    padding:0 2px;
    width: 11%;
    filter: invert(100%) sepia(0%) saturate(3363%) hue-rotate(220deg) brightness(118%) contrast(100%);
}

main .container {
    position: relative;
    background-color: #1D1D1D;
    width: calc(100% - 250px);
    height: calc(100% - 90px);
    color: white;
    overflow-y: scroll;
}

main .container .top-row {
    height: 90px;
    background-color: #111111;
}

main .container .top-row .upgrade {
    position: absolute;
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px 50px;
    top: 18px;
    right: 5px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

main .container .nav-top div {
    margin: 20px 8px;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}

main .container-album .albums {
    margin: 5px;
}

main .container-album h2 {
    margin: 30px 0 10px 10px;
}

main .container-album .albums .row {
    flex-basis: calc(100% / 3);
}

main .container-album .albums .row .box {
    flex-basis: calc(100% / 2 - 10px);
    text-align: center;
    margin: 5px;
}

main .container-album .albums .row .box .img-hover-button {
    position: relative;
    width: 100%;
}

main .container-album .albums .row .box img {
    width: 100%;
}

main .container-album .albums .row .box h4 {
    padding: 12px 0 5px 0;
}

main .container-album .row .box .text-bottom {
    font-size: 0.8em;
    color: grey;
}

main .container-album .albums .row .box .img-hover-button .fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 3.5em;
    display: none;
    z-index: 1;
    color: white;
}

main .container-album .albums .row .box .img-hover-button .background-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main .container-album .text-bottom-title {
    font-size: 0.8em;
    color: grey;
    padding: 0 0 10px 10px;
}

main .container-album .albums .row .box .circle {
    width: 100%;
}

main .container-album .albums .row .box .circle .img-hover-button img,
main .container-album .albums .row .box .circle .img-hover-button .background-effect {
    border-radius: 50%;
}

/* inizio hover main  */

main .sidebar .info-top .svg-icon a:hover,
main .sidebar .playlist-bottom .name a:hover,
main .sidebar .plus-album:hover {
    color: white;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border-right: 3px solid green;
}

main .sidebar .plus-album:hover .fa-plus-square {
    color: green;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

main .sidebar .playlist-bottom .info-bottom .download a:hover {
    color: white;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

main .sidebar .info-top .svg-icon a:hover svg,
main .sidebar .playlist-bottom .info-bottom a:hover svg {
    filter: none;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

main .container .top-row .upgrade:hover {
    color: green;
    font-size: 1.1em;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border: 1px solid green;
}

main .container .nav-top div:hover {
    border-bottom: 3px solid green;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    color: white;
}

main .container-album .albums .row .box .img-hover-button:hover .fa-play-circle {
    display:inline-block;
}

main .container-album .albums .row .box .img-hover-button:hover .background-effect {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

/* fine hover main  */

/* inizio footer */

footer {
    height: 90px;
    width: 100%;
    background-color: #0D0D0D;
    position: fixed;
    bottom: 0;
}

.footer-left {
    height: 100%;
}

.footer-left img {
    width: 60px;
    height: 60px;
    margin: 0 6px;
}

.footer-right .volume .fa-volume-up,
.footer-left #text-side-picture {
    margin: 5px;
}

.footer-left #text-side-picture a div {
    padding: 2.4px;
    font-size: 0.8em;
}

.footer-left .fa-heart,
.footer-left .fa-folder {
    padding: 1px;
    margin: 4px;
    font-size: 1.1em;
}

.footer-central {
    width: 100%;
    height: 100%;
}

.footer-central .central-top {
    min-width: 180px;
    margin: 0 auto;
}

.footer-central .fas {
    color: lightgray;
    font-size: 1.3em;
}

.footer-central .far {
    font-size: 2.5em;
    color: lightgray;
    padding: 4px;
}

.footer-central .central-bottom {
    margin: 5px 0 10px 0;
}

.footer-central .central-bottom .time {
    padding: 0 5px;
    font-size: 0.7em;
    color: lightgray;
}

.footer-central .central-bottom .progress-bar {
    border-radius: 20px;
    background-color:grey;
    height: 4px;
    width: 30vw;
    min-width: 150px;
}

.footer-right .volume .progress-bar-volume-mobile .progress-white-mobile,
.footer-right .volume .progress-bar-volume .progress-white,
.footer-central .central-bottom .progress-bar .progress-white {
    position: relative;
    height: 4px;
    width: 30%;
    background-color: lightgray;
    border-radius: 20px;
}

.footer-central .central-bottom .progress-bar .fa-circle {
    right: 0;
    bottom: -3px;
}

.footer-right .volume .progress-bar-volume .fa-circle {
    right: -5px;
    bottom: -5px;
}

.footer-right .volume .progress-bar-volume-mobile .progress-white-mobile .fa-circle,
.footer-right .volume .progress-bar-volume .fa-circle,
.footer-central .central-bottom .progress-bar .fa-circle {
    position: absolute;
    font-size: 0.7em;
    color: white;
    display: none;
}

.footer-right .volume .progress-bar-volume-mobile .progress-white-mobile .fa-circle {
    left: -5px;
    bottom: 125px;
}

.footer-right {
    height: 100%;
}

.footer-right .icon-footer .fa-desktop {
    margin-left: 6px;
}

.footer-right .fas {
    padding: 2px;
}

.footer-right .volume{
    position: relative;
}

.footer-right .volume .progress-bar-volume {
    border-radius: 20px;
    background-color: grey;
    height: 4px;
    width: 8vw;
    min-width: 65px;
    margin-right: 5px;
}

.footer-right .volume .progress-bar-volume-mobile {
    height: 150px;
    padding: 7px;
    border-radius: 8px;
    background-color:#0D0D0D;
    position: absolute;
    bottom: 24px;
    left: 12px;
    display: none;
}

.footer-right .volume .progress-bar-volume-mobile .progress-white-mobile {
    position: relative;
    background-color: lightgray;
    padding: 2.5px;
    border-radius: 20px;
    width: 10%;
    height: 100%;
}

/* fine footer */

/* inizio hover footer */
 
.footer-left .fa-folder:hover,
.footer-left .fa-heart:hover,
.footer-right .fa-desktop:hover,
.footer-right .fa-bars:hover,
.footer-right .fa-volume-up:hover,
.footer-left #text-side-picture a div:hover {
    color: green;
}

.footer-central .central-top .fa-play-circle:hover {
    font-size: 3em;
    padding: 0;
    color: white;
}

.footer-central .central-top .fas:hover {
    color: white;
}

.footer-right .volume .progress-bar-volume-mobile:active .progress-white-mobile,
.footer-right .volume .progress-bar-volume:hover .progress-white,
.footer-central .central-bottom .progress-bar:hover .progress-white {
    background-color: green;
}

.footer-right .volume .progress-bar-volume-mobile:active .fa-circle,
.footer-right .volume .progress-bar-volume:hover .fa-circle,
.footer-central .central-bottom .progress-bar:hover .fa-circle {
    display: inline-block;
}

/* fine hover footer */





