@media screen and (max-width: 500px) {

    main .container {
        width: calc(100% - 50px);
    }

    main .sidebar {
        width: 50px;
        height: calc(100% - 90px);
        min-height: 300px;
        margin-left: 0;
    }

    main .sidebar .info-top{
        margin-left: 0px;
    }

    main .sidebar .info-top .svg-icon a {
        padding: 5px 0 0 7px;
    }

    main .sidebar .info-bottom{
        margin: 5px 0 0 12px;
    }

    main .sidebar .info-top .logo a:last-child {
        display: inline-block;
        width: 100%;
        padding: 5px;
        filter: invert(58%) sepia(90%) saturate(3428%) hue-rotate(84deg) brightness(124%) contrast(120%);
    }
    
    main .sidebar .info-top .logo a:first-child,
    main .sidebar .playlist,
    main .sidebar .info-top .svg-icon span,
    main .sidebar .playlist .plus-album,
    main .sidebar .info-bottom span,
    main .sidebar .info-bottom hr,
    main .sidebar h3,
    .footer-left a img {
        display: none;
    }

    main .sidebar .info-top .logo {
        padding: 0;
    }

    main .sidebar .info-top .svg-icon a svg {
        flex-basis: 100%;
    }

    main .sidebar .playlist-info{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    main .sidebar .playlist-bottom {
        justify-content: flex-end;
    }

    main .sidebar .info-bottom a svg {
        flex-basis: 100%;
    }

    main .sidebar .info-bottom .download svg{
        padding: 0;
    }

    main .container .top-row .upgrade{
        font-size: 0.7em;
    }

    main .container .top-row .upgrade:hover {
        font-size: 0.8em;
    }

    main .container-album .albums .row {
        flex-basis: 100%;
    }

    main .container-album .albums .row .box .fa-play-circle {
        font-size: 2.5em;
    }

    .footer-left,
    .footer-right{
        flex-basis: none;
    }

    .footer-left #text-side-picture{
        margin: 10px;
        font-size: 0.9em;
    }

    .footer-left .heart-folder{
        display: none;
    }

    .footer-left img{
        width: 45px;
        height: 45px;
    }
    
    .footer-left .heart-folder{
        flex-wrap: wrap;
    }

    .footer-right{
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
    }

    .footer-right .icon-footer{
        flex-wrap: nowrap;
        margin: 10px;
    }

    .footer-right .volume .fa-volume-up{
        margin: 10px;
    }

    .footer-right .progress-bar-volume{
        display: none;
    }

}


@media screen and (min-width:501px) and (max-width: 575px) {

    
    main .container {
        width: calc(100% - 50px);
    }

    main .sidebar {
        width: 50px;
        height: calc(100% - 90px);
        min-height: 300px;
        margin-left: 0;
    }

    main .sidebar .info-top{
        margin-left: 0px;
    }

    main .sidebar .info-top .svg-icon a {
        padding: 5px 0 0 7px;
    }

    main .sidebar .info-top .logo a:last-child {
        display: inline-block;
        width: 100%;
        padding: 5px;
        filter: invert(58%) sepia(90%) saturate(3428%) hue-rotate(84deg) brightness(124%) contrast(120%);
    }
    
    main .sidebar .info-top .logo a:first-child,
    main .sidebar .playlist,
    main .sidebar .info-top .svg-icon span,
    main .sidebar .playlist .plus-album,
    main .sidebar .info-bottom span,
    main .sidebar .info-bottom hr,
    main .sidebar h3 {
        display: none;
    }

    main .sidebar .info-top .logo {
        padding: 0;
    }

    main .sidebar .info-top .svg-icon a svg {
        flex-basis: 100%;
    }

    main .sidebar .playlist-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    main .sidebar .info-bottom a svg {
        flex-basis: 100%;
    }

    main .sidebar .playlist-bottom {
        justify-content: flex-end;
    }

    main .sidebar .playlist-bottom .info-bottom{
        margin: 5px 0 0 12px;
    }

    main .sidebar .info-bottom .download svg{
        padding: 0;
    }

    main .container .top-row .upgrade{
        font-size: 0.8em;
    }

    main .container .top-row .upgrade:hover {
        font-size: 0.9em;
    }

    main .container-album .albums .row {
        flex-basis: 100%;
    }

    main .container-album .albums .row .box .fa-play-circle {
        font-size: 2.5em;
    }

    .footer-left #text-side-picture{
        margin: 5px;
        font-size: 0.9em;
    }

    .footer-left img{
        width: 45px;
        height: 45px;
    }

    .footer-left .heart-folder{
        flex-wrap: wrap;
    }

    .footer-right .icon-footer .fa-bars,
    .footer-right .icon-footer .fa-desktop{
        margin: 4px 0;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {

    main .sidebar {
        width: 175px;
    }

    main .sidebar .info-top .logo a:first-child {
        width: 90%;
    }

    main .sidebar .info-bottom .download a svg, 
    main .sidebar .info-top .svg-icon a svg {
        width: 22.5%;
    }

    main .sidebar .info-bottom .profile a svg {
        width: 17%;
    }    

    main .container {
        width: calc(100% - 175px);
    }

    main .container-album .albums .row {
        flex-basis: 100%;
    }

    main .container-album .albums .row .box .fa-play-circle {
        font-size: 2.5em;
    }

    .footer-central .central-top a{
        font-weight: 200;
    }

    .footer-left #text-side-picture{
        font-size: 0.9em;
    }

    .footer-right .icon-footer{
        flex-wrap: nowrap;
    } 

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    main .sidebar {
        width: 175px;
    }

    main .sidebar .info-bottom .download a svg, 
    main .sidebar .info-top .svg-icon a svg {
        width: 22.5%;
    }

    main .sidebar .info-top .logo a:first-child {
        width: 90%;
    }

    main .sidebar .info-bottom .profile a svg {
        width: 17%;
    } 

    main .container {
        width: calc(100% - 175px);
    }

    main .container-album .albums .row {
        flex-basis: calc(100% / 2);
    }

    main .container-album .albums .row .box .fa-play-circle {
        font-size: 3em;
    }

    .footer-right .icon-footer{
        flex-wrap: nowrap;
    }
}

@media screen and (min-width:992px) {

    .footer-right .icon-footer{
        flex-wrap: nowrap;
    }

}

